@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.nav-item{
    color: #707070 ;
    margin-right: 20px;
    font-size: 18px;
}
